.ProjectModal{
    position: relative;
}
.pjmWrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    overflow-y: scroll;
    background-color:rgba(0, 0, 0, 0.6);
}
.member{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.name{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.pjContent{
    position: absolute;
    top: 13%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
}
.modalImg{
    padding: 30px 0 20px 0;
    text-align: center;
}
.modalImg img{
    width: 90%;
    height: auto;
}
.textTitle{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1.8em;
}
.textTitle::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../../public/img/icon_diamonds.png);
    background-size: 100% auto;
    vertical-align: top;
    margin-right: 3px;
}
.pjLink .textTitle::before{
    background-image: url(../../public/img/icon_link.png)
}
.textContent{
    margin: 0 20px;
    margin-bottom: 10px;
}
.closeBtn{
    position: absolute;
    top: -45px;
    right: 0;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 8px;
    border-radius: 5px;
}
@media screen and (min-width:768px){
    .pjContent{
        width: 70%;
    }
    .goal, .aim, .use, .feel, .pjLink {
        padding: 0 40px;
    }
    .modalImg{
        width: 80%;
        margin: 0 auto;
    }
    .name{
        font-size: 1.5em;
        padding: 10px 0;
    }
    .textTitle{
        font-size: 1.3em;
    }
    .textContent{
        font-size: 1.1em;
        line-height: 1.5em;
    }
}/* 768px 마지막*/
@media screen and (min-width:1440px){
    .name{
        font-size: 1.8em;
        padding: 20px 0;
    }
    .pjContent{
        width: 50%;
    }
    .pjContent > div{
        margin-bottom: 30px;
    }
    .pjContent .modalImg{
        margin-bottom: 0;
    }
    .member{
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }
    .textTitle{
        font-size: 1.4em;
    }
    .textContent{
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .goal, .aim, .use, .feel, .pjLink {
        padding: 0 40px;
    }
    .textTitle::before{
        width: 30px;
        height: 30px;
    }
    .pjLink .textTitle::before{
        vertical-align: top;
        margin-top: 6px;
    }
}/* 1440px 마지막*/